.header__lang-link {
    font-family: 'Inter','Arial', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 1.5rem;
    line-height: 117%;
    text-decoration: none;
    margin-right: 18px;
}

.header__lang-link:last-of-type {
    margin-right: 0;
}

.header__lang-link:hover {
    opacity: 0.8;
}

@media all and (max-width: 380px) {
    .header__lang-link {
        font-size: 1.125rem;
        line-height: 133%;
    }
  }