.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    position: relative; 
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20.82%;
    padding-bottom: 20.82%;
}

.cover__overlay::before {
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;  
    bottom: 0;
    right: 0;
    transition: 0.3s linear;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}

@media all and (max-width: 1024px) {
    .cover__overlay {
        padding-top: 19.19%;
        padding-bottom: 19.19%;
    }
}

@media all and (max-width: 768px) {
    .cover__overlay {
        padding-top: 15.17%;
        padding-bottom: 15.17%;
    }
}

@media all and (max-width: 320px) {
    .cover__overlay {
        padding-top: 11.095%;
        padding-bottom: 11.095%;
    }
}