.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 100%;
    position: relative; 
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 21%;
    padding-bottom: 21%;
}

.cover__overlay::before {
    content: "";
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;  
    bottom: 0;
    right: 0;
    transition: 0.3s linear;
}

.cover__overlay:hover::before {
    opacity: 0.8;
}
