.intro__title {
    color: #FFF;
    font-family: 'Inter';
    font-weight: 900;
    font-size: 3.375rem;
    line-height: 107%;
    margin: 0;
}

@media all and (max-width: 631px) {
    .intro__title {
        font-size: 2rem;
        line-height: 109%;
    }
}